body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #96E7E8;
}

.container {
    min-width: fit-content;
}

.hide {
    display: none;
}

.btn {
    background: #382392;
    font: 1.25rem 'hollabearregular';
}

.font {
    font: 20px 'hollabearregular';
    color: #382392;
}

.border{
    border-color: #382392 !important;
}

.navbar, #landing {
    background: #fff;
}

.title{
    font-family: 'hollabearregular';
    color: #382392;
}

#landing, #mint {
    z-index: 10;
}