body{ 
    background: #96E7E8;
}

.container {
    min-width: fit-content;
}

.hide {
    display: none;
}

.btn {
    background: #382392;
    font: 1.25rem 'hollabearregular';
}

.font {
    font: 20px 'hollabearregular';
    color: #382392;
}

.border{
    border-color: #382392 !important;
}

.navbar, #landing, #mint {
    background: #fff;
}

.title{
    font-family: 'hollabearregular';
    color: #382392;
}

.banner {
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    background: no-repeat center url('../img/banner.png');
    right: 0;
    bottom: 0;
    left: 0;
}

#components{
    position: absolute;
}

#components {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}